@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewBag.Title = "Леонардо да Вінчі";
}

<h2>@ViewBag.Title</h2>

<div>
    <h3>Біографія</h3>
    <p><strong>Ім'я при народженні:</strong> Леонардо ді сер П'єр да Вінчі</p>
    <p><strong>Дата народження:</strong> 15 квітня 1452</p>
    <p><strong>Місце народження:</strong> Анк'яно, Флорентійська республіка</p>
    <p><strong>Дата смерті:</strong> 2 травня 1519 (67 років)</p>
    <p><strong>Місце смерті:</strong> Кло-Люсе, Турень, Королівство Франція</p>
    <p><strong>Причина смерті:</strong> Геморагічний інсульт</p>
    <p><strong>Поховання:</strong> Амбуаз</p>
    <p><strong>Національність:</strong> Італієць</p>
    <p><strong>Країна:</strong> Флорентійська республіка</p>
    <p><strong>Релігія:</strong> Атеїзм</p>
</div>

<div>
    <h3>Діяльність і Вплив</h3>
    <p><strong>Жанр:</strong> Портрет, релігійний живопис і сакральне мистецтво</p>
    <p><strong>Навчання:</strong> Андреа дель Верроккйо</p>
    <p><strong>Відомі учні:</strong> Якопо Понтормо, Франческо Мельці, Андреа Соларіо, Чезаре да Сесто, Salaì</p>
    <p><strong>Покровителі:</strong> Лоренцо Медічі, Франциск I, Людовіко Сфорца</p>
    <p><strong>Вплив на:</strong> Мікеланджело Буонарроті</p>
    <p><strong>Вчителі:</strong> Андреа дель Верроккйо, Іван Аргіропул, Паоло Тосканеллі</p>
</div>

<div>
    <h3>Відомі твори</h3>
    <ul>
        <li>Поклоніння волхвів</li>
        <li>Мадонна в скелях</li>
        <li>Мона Ліза</li>
        <li>Тайна вечеря</li>
        <li>Пані з горностаєм</li>
        <li>Вітрувіанська людина</li>
        <li>Благовіщення</li>
        <li>Святий Єронім у пустелі</li>
        <li>Богородиця і немовля зі святою Анною</li>
        <li>Іван Хреститель</li>
        <li>Leonardo's aerial screw</li>
        <li>Портрет Ізабелли д`Есте</li>
        <li>Head of a Woman</li>
        <li>Спаситель світу</li>
        <li>Благовіщення Пресвятої Богородиці</li>
    </ul>
</div>

<div>
    <h3>Музеї та Галереї</h3>
    <p><strong>Роботи в колекціях:</strong></p>
    <ul>
        <li>Музей Бойманса - ван Бенінгена</li>
        <li>Штедель</li>
        <li>Міннеаполіський інститут мистецтва</li>
        <li>Музей Прадо</li>
        <li>Художній інститут Чикаго</li>
        <li>Музей мистецтв Нельсона-Аткінса</li>
        <li>Оклендська галерея мистецтв</li>
        <li>Музей Ґетті</li>
        <li>Національна галерея Вікторії</li>
        <li>Національна галерея мистецтв</li>
        <li>Національний музей Швеції</li>
        <li>Музей Вікторії та Альберта</li>
        <li>Лувр</li>
        <li>Національний музей світових культур</li>
        <li>Gallerie degli Uffizi</li>
        <li>Музеї Ватикану</li>
        <li>Амброзіанська бібліотека</li>
        <li>Музей мистецтва Метрополітен</li>
        <li>Галерея Уффіці</li>
        <li>Skulpturensammlung und Museum für Byzantinische Kunst</li>
        <li>Палаццо Веккйо</li>
        <li>Gabinetto dei disegni e delle stampe</li>
        <li>Національна галерея</li>
        <li>Museum of the Ancient People of Lucania</li>
        <li>Національні галереї Шотландії</li>
        <li>Британський музей</li>
        <li>Чатсворт-хаус</li>
        <li>Вустерський музей мистецтв</li>
        <li>Галерея Академії (Венеція)</li>
        <li>Національний музей у Кракові</li>
        <li>Музей Чорторийських</li>
        <li>Баварські державні колекції картин</li>
        <li>Ермітаж</li>
        <li>Лувр Абу-Дабі</li>
        <li>Пінакотека Амброзіана</li>
        <li>Пінакотека замку Сфорца</li>
        <li>Брера</li>
        <li>Національна галерея</li>
        <li>Musée Bonnat-Helleud</li>
        <li>Альбертіна</li>
        <li>Музей образотворчих мистецтв</li>
        <li>Національний музей образотворчого мистецтва</li>
        <li>Ашмолеан музей</li>
        <li>Музей фюрера</li>
        <li>Галерея Уффіці</li>
        <li>Палац Фонтенбло</li>
        <li>Палаццо Пітті</li>
        <li>Стара пінакотека</li>
        <li>Музей Фіцвільяма</li>
        <li>Галерея мистецтв Вокера</li>
        <li>Реннський музей образотворчого мистецтва</li>
        <li>Королівський музей витончених мистецтв</li>
        <li>Ватиканська пінакотека</li>
        <li>Musea Brugge</li>
    </ul>
</div>
